.cursos-container {
    display: flex; 
    flex-direction: column; 
    gap: 2rem; 
    align-items: center;
    margin-top: 20px;
}

.curso {
    display: flex; 
    align-items: center;
    overflow: hidden; 
    width: 80%;
    margin-top: 10px; 
}

.curso img {
    width: 350px; 
    height: auto;
    margin-right: 20px; 
}

.curso-info {
    padding: 1rem;
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
}

.curso-info h3,
.curso-info p {
    font-weight: normal; 
}

.curso-info p strong {
    font-weight: bold; 
}

hr {
    border: none; 
    border-top: 1px solid #ccc;
    margin: 1rem 0;
}

