.contacto {
    position: relative;
}

.imagen-contacto {
    width: 100%; 
    height: auto;
}

.formulario-contenedor {
    position: absolute; 
    top: 80%; 
    left: 50%; 
    transform: translate(-50%, 0); 
    background-color: rgb(255, 255, 255); 
    padding: 7rem;
    z-index: 10; 
    width: 90%;
}

.formulario {
    display: flex;
    flex-direction: column; 
}

.form-group {
    display: flex; 
    align-items: center; 
    margin-bottom: 1rem; 
}

.form-group label {
    flex: 0 0 60px;
    margin-right: 2rem; 
}

input, textarea {
    flex: 1; 
    padding: 0.5rem; 
    border: 1px solid #ccc; 
}

input::placeholder,
textarea::placeholder {
    color: #aaa; 
}

.formulario-boton {
    display: flex; 
    justify-content: flex-end; 
    margin-top: 1rem; 
}

.btn {
    cursor: pointer; 
    width: auto; 
    align-self: flex-end; 
}
.contacto {
    position: relative; 
}

.imagen-contacto {
    width: 100%; 
    height: auto; 
}

.formulario-contenedor {
    position: absolute; 
    top: 80%; 
    left: 50%; 
    transform: translate(-50%, 0); 
    background-color: rgb(255, 255, 255); 
    padding: 7rem;
    z-index: 10; 
    width: 90%;
}

.formulario {
    display: flex;
    flex-direction: column; 
}

.form-group {
    display: flex; 
    align-items: center; 
    margin-bottom: 1rem; 
}

.form-group label {
    flex: 0 0 60px; 
    margin-right: 2rem; 
}

input, textarea {
    flex: 1; 
    padding: 0.5rem; 
    border: 1px solid #ccc; 
}

input::placeholder,
textarea::placeholder {
    color: #aaa; 
}

.formulario-boton {
    display: flex;
    justify-content: flex-end; 
    margin-top: 1rem; 
}

.btn {
    cursor: pointer; 
    width: auto; 
    width: auto; 
    align-self: flex-end; 
}

.site-footer {
    margin-top: 50rem; 
}

