/* Estilos para la sección Sobre Nosotros */
.sobre-nosotros-container {
    display: flex; /* Usa flexbox para alinear horizontalmente */
    align-items: flex-start; /* Alinea la imagen y el texto en el centro */
    gap: 20px; /* Espacio entre la imagen y la descripción */
    margin-top: 20px; /* Espacio adicional arriba */
}

.imagen-sobre-nosotros {
    width: 700px; /* Aumenta el ancho de la imagen */
    height: auto; /* Mantiene la proporción de la imagen */
}

.descripcion-sobre-nosotros {
    flex: 1; /* Permite que la descripción tome el resto del espacio disponible */
}
